@import 'tailwindcss';

/* screens */
@theme {
    --breakpoint-mobile: 30rem;
    --breakpoint-desktop: 100rem;
}

/* inter font */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* normal body */
body {
    font-family: Inter, sans-serif;
    background-color: hsl(0, 0%, 8%);
    color: white;
}

.card-wrapper {
    background-color: hsl(0, 0%, 12%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.name {
    color: hsl(75, 94%, 57%);
}

.box {
    background-color: hsl(0, 0%, 20%);
    @apply rounded-lg w-full text-center py-2 font-medium;
}

.box:hover {
    background-color: hsl(75, 94%, 57%);
    @apply text-black transition;
}